<div class="modal-body" id="modal-body">
  <h2 class="text-center">Welcome to Battleship!</h2>
  <h4>This is the classic game of battleship. If you have never heard of the game, here is a link to read: <a href="https://en.wikipedia.org/wiki/Battleship_(game)">Battleship</a> Here is how to play:</h4>
  <ul>
      <li>After hitting the start button, you will be picking the start and end of your ships. Follow the instructions provided on the left</li>
      <ul>
          <li>As of right now, please don't have any part of the ship touching another ship</li>
      </ul>
      <li>Once the ships are place, the game will begin</li>
      <li>Click on the enemy's board to search for the enemy's ships</li>
      <ul>
          <li>The ships left to find and their size are provided at the top of the screen</li>
      </ul>
      <li>The first one to find all the ships wins!</li>
  </ul>
  <h3 class="text-center">Good luck!</h3>
  <div class="text-center">
      <button class="btn btn-primary" role="button" ng-click="closeModal();">Close</button>
  </div>
</div>