#header {
    margin-top: 0px !important;
}

.navbar-fixed-side {
    overflow: hidden;
}

.night {
    color: #9d9d9d;
}

.day {
    color: #777;
}

.dark {
    background-color: #4e4c4c;
}

.nightBorder {
    border-color: white !important;
    color: white !important;
}

#title {
    display: inline-block;
    margin-right: 20px;
}

#enemy {
    text-align: left;
}

.score h4, h1 {
    margin: 0;
}

.align-text {
    vertical-align: middle;
    display: table-cell;
    height: 100px;
}

#user-ships-left {
    padding-left: 10px;
}

.ships-left {
    display: inline-block;
    padding-right: 5px;
}

.line-through {
    text-decoration: line-through;
    color: green;
}

#info {
    /*text-align: center;*/
    height: 97px;
}

#my-top-nav {
    margin-right: 10px;
}

.no-border {
    border: 0 !important;
}

#gameBoard {
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav {
    position: relative;
    display: inline-block;
    margin: 7px 0 0 7px;
    border: 1px solid black; 
    border-bottom: 0;   
    text-align: center;
    line-height: 2.6;
}

#enemy-side-nav {
    display: inline-block;
}

#my-side-nav {
    float: right;
    padding-top: 3px;
}

.side-nav {
    display: block;
    margin: 7px 0 0 7px;
    border: 1px solid black; 
    border-right: 0;   
    text-align: center;
    line-height: 2.6;    
}

#enemyBoard {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: 0;
    background-color: deepskyblue;
    display: inline-block;
}

.enemyBox {
    height: 42px;
    width: 42px;
    position: relative;
    display: inline-block;
    margin: 7px 0 0 7px;
    border: 1px solid black;    
    text-align: center;
    line-height: 2.6;
    color: white;
    cursor: pointer;
}

#yourSideBoard {
    /*left: -50px;*/
}

#yourBoard {
    border: 1px solid black;
    margin: 0;
    background-color: deepskyblue;
}

.myBox {
    background-color: gray;
    position: relative;
    display: inline-block;
    margin: 7px 0 0 7px;
    border: 1px solid black;
    text-align: center;
    line-height: 2.6;
    color: white;
    cursor: pointer;
}

#play-again-button {
    margin-top: 10px;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    /* Styles */
    #yourBoard {
        height: 500px !important;
        width: 500px !important;
    }

    #enemyBoard {
        height: 500px !important;
        width: 500px !important;
    }

    .myBox {
        height: 42px !important;
        width: 42px !important;
    }

    .enemyBox {
        height: 42px !important;
        width: 42px !important;
    }

    .top-nav {
        height: 42px !important;
        width: 42px !important;
    }

    .side-nav {
        height: 42px !important;
        width: 42px !important;
    }

    #enemy-side-nav {
        width: 45px !important;
    }

    #enemy-top-nav {
        margin-left: 51px;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    #yourBoard {
        height: 700px !important;
        width: 700px !important;
    }

    #enemyBoard {
        height: 700px !important;
        width: 700px !important;
    }

    .myBox {
        height: 62px !important;
        width: 62px !important;
    }

    .enemyBox {
        height: 62px !important;
        width: 62px !important;
    }

    .top-nav {
        height: 62px !important;
        width: 62px !important;
    }

    .side-nav {
        height: 62px !important;
        width: 62px !important;
    }

    #enemy-side-nav {
        width: 65px !important;
    }

    #enemy-top-nav {
        margin-left: 71px;
    }
}

#you {
    text-align: right;
    clear: both;
    line-height: 60px;
}

.inline {
    display: inline-block;
    margin: 1px;
}

.red {
    background-color: red;
}

.blue {
    background-color: dodgerblue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.big {
    font-size: 72px;
}
